<nav class="navbar navbar-expand-lg bg-dark text-white shadow">
  <div class="container">
    <a class="navbar-brand py-4" href="/"><img src="assets/images/praxislogo-light.svg" width="180"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/#contact">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/#oeffnungszeiten">Öffnungszeiten</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="/#team">Das Team</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="/#rezepte">Rezepte</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" href="leistungen.html">Leistungen</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <span><i class="bi mx-3 bi-phone" style="font-size: 1rem; color: primary;"></i>{{ site.phone }}</span>
      <span class="mx-3">|</span>
      <span><i class="bi mx-3 bi-house-heart" style="font-size: 1rem; color: primary;"></i>{{ site.email }}</span>
    </div>
  </div>
</nav>
