body {
     font-family: Futura, Helvetica, Arial, sans-serif;
     color: #152877;
}

#title {
    font-size: 140%;
    font-weight: bold;
    color: #152877;
    text-decoration: none;
}

.nav-item .btn {
    background-color: #152877;
    color: #ffffff;
}

$white: #ffffff;

$theme-colors: (
    "light":      #d4e7d4,
    "dark":       #340b40,
    "primary":    #f34953,
    "secondary":  #d9abe6,
    "info":       #6ba07c,
    "success":    #70bc26,
    "warning":    #fec889,
    "danger":     #fb136c,
);
